/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style for the header */
  header {
    text-align: center;
    margin-bottom: 50px; /* Space between title and container */
  }
  
  /* Style for the h1 title */
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0; /* Remove default margin */
  }
  
  /* Style for the logo */
  .logo {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between logo and title */
  }
  
  /* Style for the container */
  .container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for file upload label */
  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Additional styling for form elements */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="file"] {
    display: none; /* Hide the default file input */
  }
  
  #file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #upload-status {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
  }
  
  
